.element {
  position: relative;
  display: inline-block;
}

.element::after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1rem;
  opacity: 0.5;
  background-color: #92d9f5;
  transition: width 0.4s;
}

.element:hover::after {
  width: 100%;
}

.semititle{
  font-family: 'NanumNeoEB';
  font-size: 2rem;
  color:#0071C1;
}