@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'NanumNeo';
  src: url('../public/font/NanumSquareNeo-bRg.ttf') format('truetype') ,       local('NanumNeo');

}

@font-face{
  font-family: 'NanumNeoLt';
  src: url('../public/font/NanumSquareNeo-aLt.ttf') format('truetype') ,       local('NanumNeoLt');

}
@font-face{
  font-family: 'NanumNeoEB';
  src: url('../public/font/NanumSquareNeo-dEb.ttf') format('truetype') ,       local('NanumNeoEB');

}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../public/font/Pretendard-Bold.ttf')format('truetype') ,       local('Pretendard-Bold')
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../public/font/Pretendard-Regular.ttf')format('truetype') ,       local('Pretendard-Regular');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../public/font/Pretendard-SemiBold.ttf')format('truetype') ,       local('Pretendard-SemiBold');
}
@font-face {
  font-family: 'thefaceshop';
  src: url('../public/font/THEFACESHOPINKLIPQUID.ttf')format('truetype') ,       local('thefaceshop');
}

@keyframes blinking {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  font-size: 24px;
  animation: blinking 2s linear infinite;
}